html {
    height: 100%;
}

body {
    margin: 0;
    /* Растягиваем body по высоте html */
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
b {
    font-weight: bold;
}

.ui-loader {
    display: none;
}

/* Header *Start* */

.header {
    padding: 21px 0 26px 0;

    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.25);
}
.scroll-btn {
    position: fixed;

    width: 48px;
    height: 48px;

    right: 76px;
    bottom: 58px;

    border-radius: 50%;
    border: 1px solid #FFF;

    background: lightblue;
    background-image: url(../img/Arrow\ 1.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 65% 65%;

    transform: rotate(180deg);

    cursor: pointer;

    z-index: 2;
}
.header>.container {
    margin: 0 229px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-wrapper_left, .header-wrapper_right {
    display: flex;
    align-items: center;
}
.logo-link {
    margin-right: 50px;
    display: block;
}

.logo {
    width: 221px;
    height: 71px;
}

.header-nav {}
#telegram-login-YorkCardBot {
    margin-left: 54px;
}
.header-nav__item {
    color: #000;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
}
.header-nav__item:not(:last-child) {
    margin-right:  37px;
}

.lang-selector {
    display: flex;
    align-items: center;
}

.lang-selector__item {
    width: 40px;
    height: 37px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #000;
    font-family: Raleway;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 90px; /* 600% */
    text-decoration: none;

    border-radius: 6px;
    background-color: #fff;

    cursor: pointer;
    transition: background linear .2s;
}
.lang-selector__item a {
    color: inherit;
    text-decoration: none;
}
.lang-selector__item.selected {
    background-color: #E1E1E1;
}

.lang-selector .separator {
    margin: 0 8px;

    width: 1px;
    height: 37px;

    background-color: #6FBCC1;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links__item {
    padding: 0 35px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* background-color: #373737; */
    border-radius: 25px;
    color: #FFF;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    cursor: pointer;
}
.social-links__item > img {
    width: 100%;
    height: 100%;
}
.button-style-1 {
    padding: 18px 32px 18px 44px;
    display: block;
    width: fit-content;

    border-radius: 15px;
    background: linear-gradient(180deg, rgba(44, 163, 153, 0.70) 0%, rgba(52, 157, 175, 0.70) 100%, rgba(73, 182, 201, 0.70) 100%);
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.25) inset;
    backdrop-filter: blur(7.5px);

    color: #FFF;
    font-family: Raleway;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;

    cursor: pointer;
}

.header-wrapper_right .button-style-1 {
    margin-left: 54px;
}
.header-wrapper_right .social-links {
    margin-left: 44px;
}

.m-btn {
    position: relative;
    display: none;

    min-width: 33px;
    height: 25px;

    cursor: pointer;
}
.tgme_widget_login {
    margin-left: ;
}

/* Header *Stop* */

/* Mobile menu *Start* */

.header .m-btn {
    margin-left: 20px;

    display: none;
}

.m-btn > span {
    position: absolute;
    left: 0;

    display: block;

    width: 100%;
    height: 3px;

    background-color: #000;
    border-radius: 3px;

    transition: transform linear .2s;
}
.m-btn > span:nth-child(1) {
    top: 0;
}
.m-btn > span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}
.m-btn > span:nth-child(3) {
    bottom: 0;
}
.m-btn.opened > span {
    top: 50%;
    left: 0;

    transform: translateX(-50%) translateY(-50%);
}
.m-btn.opened > span:nth-child(1) {
    transform: rotate(45deg);
}
.m-btn.opened > span:nth-child(2) {
    display: none;
}
.m-btn.opened > span:nth-child(3) {
    transform: rotate(-45deg);
}

.m-overlay {
    display: none;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: rgba(78, 78, 78, 0.53);
    z-index: 9999;
}
.m-overlay.opened {
    display: block;
    animation: fadeOut linear .4s;
}
.m-overlay > .container {
    position: relative;
    width: 100%;
    height: 100%;
}
.m-menu {
    display: none;
    padding: 25px;

    position: absolute;
    top: 0;
    right: 0;

    border-radius: 10px;
    background: #FFF;
    box-shadow: -7px 8px 12px 0px rgba(0, 0, 0, 0.35);

    z-index: 5;
}
@keyframes slideOut {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
.m-menu.opened {
    display: block;
    animation: slideOut linear .4s;
}
.m-menu__header {
    margin-bottom: 30px;

    display: flex;
    justify-content: space-between;
}
.m-menu__close-btn {
    width: 16px;
    height: 16px;

    background-image: url(../img/close.svg);
    background-position: center center;
    background-repeat: no-repeat;

    cursor: pointer;
}
.m-nav {
    display: grid;
    grid-template-columns: 1fr;
}
.m-nav__item {
    padding: 15px 0;

    color: #272727;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;

    border-bottom: 1px solid #E6E6E6;

    cursor: pointer;
}
.m-menu .lang-selector {
    margin: 16px auto;
    width: fit-content;
}
.m-menu .button-style-1 {
    padding: 12px 0;
    width: 100%;

    color: #FFF;
    font-family: Raleway;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

/* Mobile menu *Stop* */

/* Footer *Start* */

.footer {
    padding: 44px 0;

    background: #FFF;
    box-shadow: 0px -5px 13px 0px rgba(0, 0, 0, 0.25);
}
.footer > .container {
    margin: 0 240px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-nav {
    display: flex;
    align-items: center;
}
.footer-nav__item {
    color: #000;
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
}
.footer-nav__item:not(:last-child) {
    margin-right: 40px;
}

/* Footer *Stop* */


/* White label - Main section *Start* */

.white-label-main {
    position: relative;
    padding: 64px 0;

    height: calc(100vh - 128px - 112px);
}

.white-label-main>.container {
    margin: 0 150px;
    height: 100%;

    display: grid;
    grid-template-rows: 20% 1fr 1fr;
}
.main-section__gradient {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(180deg, #27B5A9 2.28%, #28AECC 102.86%);

    z-index: -2;
}
.main-section__bg {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 100%;
    height: 100%;

    z-index: -1;
}
.main-section__bg > .container {
    position: relative;
    width: 100%;
    height: 100%;
}
.main-section__bg img:nth-child(1) {
    position: absolute;

    width: 60%;

    right: 0;
    bottom: -167px;

    visibility: hidden;
    z-index: 3;
}
.main-section__bg img:nth-child(2) {
    position: absolute;

    width: 44%;

    right: 0;
    bottom: 0;

    z-index: 2;
}
.main-section__bg img:nth-child(3) {
    position: absolute;

    width: 62%;

    right: 0;
    bottom: 0;

    z-index: 1;
}

.white-label-main .text-h1 {
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 68px;
    font-weight: 600;
    line-height: 90px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.white-label-main .text-h2 {
    padding: 10px 30px;
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 50px;

    border: 1px solid #fff;
    border-radius: 20px;

    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 25px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0%;
}
.white-label-main .text-h1 + .text-h2 {
    margin-top: 25px;
}
.section-h2 {
    position: relative;

    color: rgb(55, 55, 55);
    font-family: Raleway;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: left;
}

.white-label-main .section-h2 {
    margin-bottom: 50px;
    width: fit-content;
}

.section-h2.white {
    color: #fff;
}

.section-h2::after {
    margin-top: 5px;

    content: "";
    display: block;

    width: 84px;
    height: 13px;

    background: linear-gradient(180.00deg, rgb(39, 181, 169) 2.278%, rgb(40, 174, 204) 102.86%);
}

.section-h2.white::after {
    background: #fff;
}

.white-label-contains {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.white-label-contains__item {
    position: relative;
    padding: 25px 20px;

    border-radius: 15px;
    box-shadow: 0px 5px 24px 6px rgba(0, 0, 0, 0.08);
    background: rgb(255, 255, 255);
}

.white-label-contains__num {
    margin-bottom: 55px;

    color: #edf8f9;
    font-family: Raleway;
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 0%;
    text-align: right;
    text-transform: uppercase;
}

.white-label-contains__h3 {
    color: #21323a;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}


/* White label - Main section *Stop* */

/* White label - Conditions section *Start* */

.white-label-conditions {
    position: relative;

    padding: 150px 0;

    overflow: hidden;
}
.white-label-conditions .price-text {
    width: fit-content;
    text-align: right;
}
.white-label-conditions>.container {
    margin: 0 150px;
}
.white-label-conditions__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 100px;
}
.section-h2 {
    margin-bottom: 60px;
}

.white-label-panel {
    padding: 50px 40px;

    border-radius: 15px;
    box-shadow: 0px 5px 24px 6px rgba(0, 0, 0, 0.08);
    background: rgb(255, 255, 255);
}
.white-label-panel_small {
    padding: 25px 90px;

    border-radius: 15px;
    box-shadow: 0px 5px 24px 6px rgba(0, 0, 0, 0.08);
    background: rgb(255, 255, 255);
}
.white-label-panel + .white-label-panel_small {
    margin-top: 37px;
}
.section-h3 {
    color: rgb(55, 55, 55);
    font-family: Raleway;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: left;
}
.alert-icon {
    display: block;

    width: 50px!important;
    height: 50px!important;
}
.text-p {
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
}

.price-text {
    color: rgb(55, 55, 55);
    font-family: Raleway;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: left;
}

.price-text span {
    display: inline;
}

.green {
    color: #27b2b4;
}

.text-h5 {
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 27px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: left;
}

.white-label-table {
    display: block;
    border-collapse: collapse;
    border: 1px solid #c4c4c4;
    border-radius: 15px;

}

.white-label-table {
    margin: 30px 0;
}

.white-label-table__header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.23);
}

.white-label-table__row {
    width: 100%;
    display: flex;
}

.white-label-table__column {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 11px 0;
    width: 100%;

    color: rgb(55, 55, 55);
    font-family: Raleway;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
}

.white-label-table__row:not(:last-child) .white-label-table__column {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.white-label-table__column:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.23);
}

.white-label-table__body .white-label-table__column {
    font-weight: bold;
}

.white-label-table td,
.white-label-table th {
    display: block;
    width: 100%;
    border: 1px solid #c4c4c4;


}

.flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-wrapper>* {
    width: 100%;
}
.flex-wrapper > *:not(:last-child) {
    margin-right: 24px;
}
/* White label - Conditions section *Stop* */

/* White label - Recomendations section *Start* */

.white-label-recomendations {
    position: relative;

    padding: 80px 0;

    overflow: hidden;
}

.white-label-recomendations>.container {
    margin: 0 150px;
}

.section-p {
    color: rgb(24, 24, 24);
    font-family: Raleway;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: left;
}

.recomendations-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
.section-p + .recomendations-list {
    margin-top: 40px;
}

.recomendations-list__item {
    border-radius: 15px;
    background: linear-gradient(180.00deg, rgb(39, 182, 170),rgb(40, 176, 198) 100%);
    box-shadow: 0px 5px 24px 6px rgba(0, 0, 0, 0.08);
}
.recomendations-list__item:nth-child(even) {
    background: rgb(255, 255, 255);
}

.recomendations-list__header {
    padding: 20px 0;
    margin: 0 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recomendations-list__content {
    padding: 25px 0 75px 0;
    margin: 0 30px;
}

.recomendations-list__h3 {
    color: #fff;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: left;
}
.recomendations-list__item:nth-child(even) .recomendations-list__h3 {
    color: #21323a;
}

.arrow-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 60px;
    border-radius: 50%;

    background-color: #fff;

    cursor: pointer;
}
.recomendations-list__item:nth-child(even) .arrow-btn, .white-label-panel .arrow-btn {
    background: linear-gradient(180.00deg, rgb(39, 181, 169) 2.278%, rgb(40, 174, 204) 102.86%);
}
.arrow-btn>img {
    filter: invert(1);
}
.recomendations-list__item:nth-child(even) .arrow-btn>img, .white-label-panel .arrow-btn > img {
    filter: invert(0);
}
.recomendations-list__h4 {
    color: #fff;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: left;
}
.recomendations-list__item:nth-child(even) .recomendations-list__h4  {
    color: #21323a;
}
.recomendations-list__p {
    color: #fff;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}
.recomendations-list__item:nth-child(even) .recomendations-list__p {
    color: #21323a;
}
/* White label - Recomendations section *Stop* */


/* White label - Actions section *Start* */

.white-label-actions {
    position: relative;
    padding: 150px 0;
}
.white-label-actions > .container {
    margin: 0 150px;
}
.white-label-actions .section-h2 {
    color: #fff;
}
.white-label-actions .section-h2::after {
    background: #fff;
}
.white-label-actions .section-p {
    color: #fff;
}
.white-label-panel {
}
.white-label-actions__wrapper {
    display: flex;
    justify-content: space-between;
}
.arrow-btn {
}

/* White label - Actions section *Stop* */

.advantages-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
}
.advantages-list__item::before {
    margin-right: 19px;
    content: "";

    display: inline-block;

    min-width: 40px;
    height: 40px;

    background-image: url(../img/advantages-icon.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.advantages-list__item {
    display: flex;
    align-items: center;

    color: #000;
    font-family: Raleway;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 185.185% */
}




/* White label - Countries section *Start* */

.white-label-countries {
    position: relative;
    padding: 150px 0;

    overflow: hidden;
}
.white-label-countries > .container {
    margin: 0 150px;
}
.white-label-countries .white-label-panel {
    width: fit-content;
}
.white-label-countries__wrapper {
    display: grid;
    grid-template-columns: 1fr 60px;
    gap: 45px;
}
.countries-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 65px;
}
.countries-list__item {

}
.countries-list__title {
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: left;
}
.classes-list__title {
}
.arrow-btn {
}

/* White label - Countries section *Stop* */

.gray-section-bg {
}
.gray-section-bg > img:nth-child(1) {
    position: absolute;

    top: 45%;
    right: 460px;

    z-index: -1;
}
.gray-section-bg > img:nth-child(2) {
    position: absolute;

    display: block;

    bottom: 72%;
    left: 78%;
}
.gray-section-bg > img:nth-child(3) {
    position: absolute;

    display: block;

    height: 670px;

    bottom: 0px;
    right: -10px;

    z-index: -1;
}


@media (max-width: 600px) {
    .white-label-contains {
        grid-template-columns: 1fr;
    }
    .recomendations-list {
        grid-template-columns: 1fr;
    }
    .countries-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .white-label-conditions__wrapper {
        grid-template-columns: 1fr;
    }
}